.input-box {
  padding: 10px;
  /* margin: 10px; */
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #504d4d;
  border-radius: 15px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  display: inline-block;
  /* display: flex;
  justify-content: center; */
}
.container {
  width: 400px;
  background: #282851;
  padding: 1rem;
  margin: 5rem auto;
  margin: 3rem auto;
  border-radius: 10px;
  text-align: center;
}
input:focus {
  outline: none;
  border-color: #b94646;
  box-shadow: 0 0 5px rgba(110, 27, 27, 0.6);
}

input::placeholder {
  color: #aaa5a5;
}
.title {
  padding: 5px;
  margin: 10px;
  text-align: center;
  font-size: xx-large;
  color: #b94646;
}

.add-button {
  display: inline-block;
  background-color: #af4c56;
  color: #fff;
  border: none;
  margin-left: 10px;
  /* padding-left: 0px; */
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #992b3c;
}

.listitem {
  list-style-type: none;
  /* background-color: #596e8b; */
  border: 2px solid rgb(237, 233, 233);
  color: rgb(237, 232, 232);
  padding: 3px;
  padding-left: 15px;
  /* padding-right: 5px; */
  border-radius: 5px;
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}
.listitem span {
  margin: 10px;
}

.icons {
  position: absolute;
  right: 10px;
}
.icons i {
  /* margin-left: 90px; */
  margin: 4px;
  font-size: large;
  cursor: pointer;
  transition: 0.1s;
}
.icons i:hover {
  transform: scale(1.2);
}
.icon-delete:hover {
  color: red;
}
